{% if page.session == "html" %}
    <meta name="theme-color" content="#e44d26">
{% endif %}
{% if page.session == "css" %}
    <meta name="theme-color" content="#2c6ab1">
{% endif %}
{% if page.session == "js" %}
    <meta name="theme-color" content="#63a814">
{% endif %}
{% if page.session == "ansiC" %}
    <meta name="theme-color" content="#800080">
{% endif %}
{% if page.session == "Cpp" %}
    <meta name="theme-color" content="#670067">
{% endif %}
{% if page.session == "alg" %}
    <meta name="theme-color" content="#D80027">
{% endif %}
{% if page.session == "sass" %}
    <meta name="theme-color" content="#cd6799">
{% endif %}
{% if page.session == null  %}
    <meta name="theme-color" content="#001C47">
{% endif %}