---
layout: home
---

{% for post in site.posts %}
    <article role="article" class="{{ post.categoria }}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <a href="{{ post.url | prepend: site.baseurl }}">
           <meta itemprop="datePublished" content="{{post.date | date_to_xmlschema }}">
            {% include time.html %}
            <h2 class="title" itemprop="name">{{ post.title }}</h2>
        </a>
        <p class="lead">{{ post.description }}</p>
        <a class="veja" href="{{ post.url | prepend: site.baseurl }}">veja mais de {{ post.title }}</a>
        <div class="tags">
            {% for tag in post.tags %}
                <a href="/tags/#{{tag}}">{{ tag }}</a>
            {% endfor %}
        </div>    
    </article>
{% endfor %}
