---
layout: home
---

{% for post in site.posts %}
    <article role="article" class="{{ post.session }}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
           <meta itemprop="datePublished" content="{{post.date | date_to_xmlschema }}">
           {% if post.session != 'null' %}<span class="icon {{post.session}}"></span>{% endif %}{% include time.html %}
           <h2 class="title" itemprop="headline">{{ post.title }}</h2>
        </a>
        <p class="lead" itemprop="description">{{ post.description }}</p>
        <!--<a class="veja" href="{{ post.url | prepend: site.baseurl }}">veja mais de {{ post.title }}</a>!-->
        <div class="tags">
            {% for tag in post.tags %}
                <a href="/tags/">{{ tag }}</a>
            {% endfor %}
        </div>
    </article>
{% endfor %}
