<header class="header">
   <div class="header-menu">
       <a href="#" class="toggle-menu header-menu--icon">
            <span class="icon-close hide"></span>
            <span class="icon-menu show"></span>     
       </a>
    </div>
    <a href="#" class="toggle-query queryIcon">
        <span class="icon-search show"></span>
        <span class="icon-close hide"></span>
    </a>
    <h1 class="header-title"><a href="{{ site.url }}">deglier<b>amorim</b></a></h1>
    <div class="header-search--form">
        <input type="text" id="search-input" class="form-input" placeholder="Escreva alguma coisa :)">
        <div id="results-container"></div>
    </div>
</header>
    <div class="container">