<nav class="menu">
    <h2 class="menu-title">Menu</h2>
    <ul class="menu-list">
    {% for link in site.links %}
        <li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
        <li><a class="feed" href="{{ site.url }}/feed.xml" title="Atom/RSS feed">Feed</a></li>
    </ul>
    <div class="pull-down">
        <a href="https://www.facebook.com/{{ site.face_username }}"><span class="icon-facebook"></span></a>
        <a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon-twitter"></span></a>
        <a href="https://github.com/{{ site.github_username }}"><span class="icon-github"></span></a>
    </div>
</nav>