.home {
    .html {
        a {
            time:before {
                background-image: url(../img/html.svg);
            }
            h2.title {
                color: $destaque-html;
            }
        }
    }
    .css {
        a {
            time:before {
                background-image: url(../img/css.svg);
            }
            h2.title {
                color: $destaque-css;
            }
        }
    }
    .js {
        a {
            time:before {
                background-image: url(../img/js.svg);

            }
            h2.title {
                color: $destaque-js;
            }
        }
    }
}

.home {
    .html,
    .css,
    .js {
        a {
            time:before {
                content: "";
                display: inline-block;
                height: 15px;
                width: 15px;
                margin-right: 5px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }
}


/***
home layout base

*/

body.base .header,
body.base .menu,
body.base .header-search--form,
body.base .footer {
    background-color: $bg-base; 
}

body.base .title {
    color: $bg-base;
}


/***
artigo - layout html color
*/
article.post {
    p code {
        font-family: 'Inconsolata', monospace;
    }
}
body.html .header,
body.html .menu,
body.html .header-search--form,
body.html .footer
 {
    background-color: $destaque-html; 
}

body.html h2.title {
    &:before {
        background-image: url(../img/html.svg);
    }
    color: $destaque-html;
}

body.html article.post {
    a, p code {
        color: $destaque-html;
    }
}

/***
artigo - layout html color
*/

body.css .header,
body.css .menu,
body.css .header-search--form,
body.css .footer
 {
    background-color: $destaque-css; 
}

body.css h2.title {
    &:before {
        background-image: url(../img/css.svg);
    }
    color: $destaque-css;
}
body.css article.post {
    a, p code {
        color: $destaque-css;
    }
}
/***
artigo - layout html color
*/

body.js .header,
body.js .menu,
body.js .header-search--form,
body.js .footer
 {
    background-color: $destaque-js; 
}

body.js h2.title {
    &:before {
        background-image: url(../img/js.svg);
    }
    color: $destaque-js;
}
body.js article.post {
    a, p code {
        color: $destaque-js;
    }
}
body.js h2.title,
body.css h2.title,
body.html h2.title {
    &:before {
        content: "";
        display: block;
        height: 40px;
        width: 40px;
        margin-right: 5px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;    
    }
}


/*defs  da svg */

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-js {
	width: 0.8818359375em;
}
#icon-js .path1 {
	fill: #63a814;
}
#icon-js .path2 {
	fill: #8acf17;
}
#icon-js .path3 {
	fill: #fff;
}
#icon-js .path4 {
	fill: #ebebeb;
}

#icon-html .path1 {
	fill: #e34f26;
}
#icon-html .path2 {
	fill: #ef652a;
}
#icon-html .path3 {
	fill: #ebebeb;
}
#icon-html .path4 {
	fill: #fff;
}

.icon-css {
	width: 0.8818359375em;
}
#icon-css .path1 {
	fill: #1572b6;
}
#icon-css .path2 {
	fill: #33a9dc;
}
#icon-css .path3, #icon-css .path5 {
	fill: #fff;
}
#icon-css .path4, #icon-css .path6, #icon-css .path7 {
	fill: #ebebeb;
}

