.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 52.2em 208.8em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.alg:before {
      background-position: -0.5em -0.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.css:before {
      background-position: -0.5em -52.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.html:before {
      background-position: -0.5em -104.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.js:before {
      background-position: -0.5em -157.1em;
      width: 51.2em;
      height: 51.2em;
  }





