%padding-0 {
    padding: 0;
}
%margin-0 {
    margin: 0;
}

%display-block {
    display: block;
}

%display-inline-block {
    display: inline-block;
}

%display-none {
    display: none;
}

%width-100 {
    width: 100%;
}

%position-relative {
    position: relative;
}

%position-absolute {
    position: absolute;
}

%transition-ease-in-out-300ms {
    transition: all 300ms ease-in-out;
}


%text-align-center {
    text-align: center;
}

%font-light {
    font-weight: 300;
}
%font-regular {
    font-weight: 400;
}
%font-bold {
    font-weight: 700;
}


%color-white {
    color: #fff;
}