.home {
    @include layoutColorList("alg", $destaque-alg);
    @include layoutColorList("ansiC", $destaque-ansiC);
    @include layoutColorList("Cpp", $destaque-Cpp);
    @include layoutColorList("css", $destaque-css);
    @include layoutColorList("js", $destaque-js);
    @include layoutColorList("html", $destaque-html);
    @include layoutColorList("sass", $destaque-sass);
}

/***
home layout base

*/
body.base {
    .header,
    .menu,
    .header-search--form,
    .footer {
        background-color: $bg-base;
    }
    .fixed-button {
        background-color: darken($bg-base, 5%);
        &:hover {
            background-color: lighten($bg-base, 5%);
        }
    }
    .title {
        color: $bg-base;
    }
}


@include layoutColorArticle("alg", $destaque-alg);
@include layoutColorArticle("ansiC", $destaque-ansiC);
@include layoutColorArticle("Cpp", $destaque-Cpp);
@include layoutColorArticle("css", $destaque-css);
@include layoutColorArticle("js", $destaque-js);
@include layoutColorArticle("html", $destaque-html);
@include layoutColorArticle("sass", $destaque-sass);