$destaque-css: #2c6ab1;
$destaque-html: #e44d26;
$destaque-js: #63a814;
$destaque-alg:#D80027;
$destaque-ansiC: #800080;
$destaque-Cpp: darken($destaque-ansiC, 5%); 
$destaque-sass: #cd6799;
$subtitulos: #838282;
$bg-base: #001C47;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
